@{
  Layout = "_Layout";
}

@using Bakery.Models

<h1>Pierre's Treats!</h1>
<hr />
<p>You have @Model["treats"].Count treats(s).</p>
<p>You have @Model["flavors"].Count flavors(s).</p>
<br>
<h3>List of Treats:</h3>
<br>
@foreach(Treat treat in Model["treat"])
{
  <li>@Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId })</li>
}
<br>
<h3>List of Flavors:</h3>
<br>
@foreach(Flavor flavor in Model["flavor"])
{
  <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
}
<p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>
<br>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Log in", "Login", "Account")</p>