@{
  Layout = "_Treats";
}
@using Bakery.Models;
@model List<Bakery.Models.Treat>;

<h2>Your Treats from Best to Worst:</h2>
<hr />
@if (@Model.Count == 0)
{
  <h3>No Treats have been created yet...</h3>
}



@foreach(Treat treat in Model)
{
  <li>@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId })</li>
    @using (Html.BeginForm("Delete", "Treats", FormMethod.Get))
  {
    @Html.Hidden("id", @treat.TreatId)
    <input type="submit" value="Remove Treat" class="btn btn-default"/>
  }
}
<hr />
<p>@Html.ActionLink("Back To List", "Index")</p>
<p>@Html.ActionLink("Add New Treat", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>